<form action="{{ path_for('cart.update', {slug: item.slug}) }}" method="post" class="form-inline">
	<select name="quantity" class="form-control input-sm">

		<option value="0">None</option>
		{% for num in 1..item.stock %}
			<option value="{{ num }}"{% if num == item.quantity %} selected{% endif %}>{{ num }}</option>
		{% endfor %}
	
	</select>
	<input type="submit" value="Update" class="btn btn-default btn-sm">
</form>